:root {
    /* Material UI Color Palette */
    --primary: #729191;
    --primary-dark: #588080;
    --primary-light: #63A4FF;
    --secondary: #5f7070;
    --secondary-dark: #3f4747;
    --secondary-light: #FF8A50;
    --background: #88a5a5;
    --surface: #b7c9c9;
    --navhover: #010505;
    --on-primary: #FFFFFF;
    --on-secondary: #FFFFFF;
    --on-background: #000000;
    --on-surface: #000000;
    --header-height: 60px;
    --content-width: 900px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
    padding-top: var(--header-height);
    /* Add padding-top to push the main content below the fixed header */
    color: var(--on-surface);
    margin: 0;
    background-color: var(--background);
}

header {
    background-color: var(--primary-dark);
    color: var(--on-primary);
    text-align: center;
    margin-top: -10px;
    padding: 1rem;
    transition: transform 0.3s ease-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transition: box-shadow 250ms linear;
    background: var(--white);
}

header.hidden {
    transform: translateY(-10%);
    /* Move the header above the viewport to hide it */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

.hamburger-menu {
    display: none;
    /* Hide the hamburger menu by default for larger screens */
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: var(--on-primary);
    margin: 6px 0;
}

.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-right: 1rem;
}

.navbar-links a {
    color: var(--on-primary);
    text-decoration: none;
}

.navbar-links a:hover {
    background-color: var(--primary-light);
    border-radius: 10px;
    padding: 10px;
}


/* Add bubble effect to navbar links when clicked */

.navbar-links a.active {
    background-color: var(--navhover);
    border-radius: 20px;
}

.navbar-links a.active::before {
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 4px;
    border-radius: 4px;
    z-index: -1;
}


/* Animate the bubble effect */

.navbar-links a.active::before {
    animation: bubble 0.3s ease;
}

@keyframes bubble {
    0% {
        transform: translateX(-50%) scaleX(0);
    }
    100% {
        transform: translateX(-50%) scaleX(1);
    }
}

main {
    padding: 2rem;
    box-sizing: border-box;
    /* Include padding in the height calculation */
}

#about {
    align-items: flex-start;
    /* Align items at the top of the flex container */
    max-width: var(--content-width);
    margin: 1rem auto;
    /* Add rounded border to create a bubble effect */
    box-shadow: 0 4px 6px rgba(27, 27, 27, 0.4);
    /* Add a subtle box shadow for depth */
    border-radius: 20px;
    padding: 5rem;
    background-color: var(--surface);
    position: relative;
    /* Set the parent as a positioning context */
}

#about-me {
    margin: 1rem auto;
    max-width: var(--content-width);
    padding: 2rem;
    background-color: var(--surface);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#about h2 {
    margin-bottom: 1rem;
}

.about-image {
    display: flex;
    width: 120px;
    height: 130px;
    border-radius: 10px;
    box-shadow: 0 40px 60px rgba(37, 36, 36, 0.1);
    position: absolute;
    /* Position the image absolutely */
    top: 0;
    /* Position the image at the top of the parent container */
    right: 0;
    /* Position the image at the right of the parent container */
    transform: translate(-10%, 10%);
    /* Adjust the position slightly */
}

#about p {
    line-height: 1.8;
}

#skills {
    margin: 1rem auto;
    /* Adds space above and below, and centers the sections horizontally */
    max-width: var(--content-width);
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: var(--surface);
    border-radius: 20px;
    /* Add rounded border to create a bubble effect */
    box-shadow: 0 4px 6px rgba(27, 27, 27, 0.4);
    /* Add a subtle box shadow for depth */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

#skills.show {
    opacity: 1;
    transform: translateX(0px);
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.skill {
    border: 1px var(--on-background);
    width: 50px;
    /* Set the desired width */
    border-radius: 15px;
    height: 50px;
    padding: 2rem;
    background-color: var(--primary);
    box-shadow: 0 60px 60px rgba(0, 0, 0, 0.4);
}

.skill img {
    width: 50px;
    /* Set the desired width */
    border-radius: 10px;
    height: 50px;
    /* Set the desired height */
    object-fit: cover;
    /* Preserve aspect ratio and crop if necessary */
    display: block;
    margin: 0 auto;
    /* Center the image horizontally */
    margin-bottom: 1rem;
}

.skill:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.skill h2 {
    margin: 0;
    color: var(--on-primary);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.skill h3 {
    margin: 0;
    color: var(--on-primary);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.skill p {
    margin: 0 0 1rem;
    color: var(--on-surface);
    font-size: 12.5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.skill a {
    display: inline-block;
    background-color: var(--secondary);
    color: var(--on-secondary);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
}


/* Hover effect for buttons */

.skill a:hover {
    background-color: var(--secondary-dark);
}


/* Click effect for buttons */

.skill a:active {
    background-color: var(--secondary);
    transform: translateY(1px);
    /* Add a subtle click effect by moving the button down on click */
}

#projects {
    margin: 1rem auto;
    /* Adds space above and below, and centers the sections horizontally */
    max-width: var(--content-width);
    margin-bottom: 2rem;
    padding: 5rem;
    background-color: var(--surface);
    border-radius: 20px;
    /* Add rounded border to create a bubble effect */
    box-shadow: 0 4px 6px rgba(27, 27, 27, 0.4);
    /* Add a subtle box shadow for depth */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

#projects.show {
    opacity: 1;
    transform: translateX(0px);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    gap: 2rem;
    padding: 3rem;
}

.project {
    border: 1px var(--on-background);
    border-radius: 15px;
    padding: 1.5rem;
    background-color: var(--primary);
    box-shadow: 0 60px 60px rgba(0, 0, 0, 0.4);
}

.project img {
    width: 250px;
    /* Set the desired width */
    border-radius: 8px;
    height: 130px;
    /* Set the desired height */
    object-fit: cover;
    /* Preserve aspect ratio and crop if necessary */
    display: block;
    margin: 0 auto;
    /* Center the image horizontally */
    margin-bottom: 1rem;
}

.project:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.project h2 {
    margin: 0;
    color: var(--on-primary);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.project h3 {
    margin: 0;
    color: var(--on-primary);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.project p {
    margin: 0 0 1rem;
    color: var(--on-surface);
    font-size: 12.5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.project a {
    display: inline-block;
    background-color: var(--secondary);
    color: var(--on-secondary);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
}


/* Hover effect for buttons */

.project a:hover {
    background-color: var(--secondary-dark);
}


/* Click effect for buttons */

.project a:active {
    background-color: var(--secondary);
    transform: translateY(1px);
    /* Add a subtle click effect by moving the button down on click */
}


/* Scroll animation for the header */

header {
    transition: background-color 0.3s ease-out;
}

header.scrolled {
    background-color: var(--primary-dark);
}


/* Scroll animation for projects section */

footer {
    background-color: var(--primary-dark);
    color: var(--on-primary);
    text-align: center;
    padding: 1rem;
}

#contact {
    padding: 5rem;
    background-color: var(--surface);
    border-radius: 20px;
    margin: 1rem auto;
    max-width: var(--content-width);
    /* Add rounded border to create a bubble effect */
    box-shadow: 0 4px 6px rgba(27, 27, 27, 0.4);
    /* Add a subtle box shadow for depth */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

#contact.show {
    opacity: 1;
    transform: translateY(0);
}


/* Add this CSS code to style the scroll-to-top button */

#scrollToTopButton {
    display: none;
    /* Hide the button by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary);
    /* Use the primary color from the color palette */
    color: var(--on-primary);
    /* Use the on-primary color from the color palette */
    border: none;
    outline: none;
    border-radius: 40%;
    width: 60px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(2, 2, 2, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#scrollToTopButton:hover {
    background-color: var(--primary-dark);
    /* Use the primary-dark color from the color palette */
    transform: scale(1.1);
    /* Add a slight scale effect on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#scrollToTopButton:active {
    transform: scale(1);
    /* Remove the scale effect when the button is clicked */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* Add this CSS code to style the download button */


/* Add this CSS code to style the button container */

.button-container {
    display: flex;
    justify-content: center;
    /* Center the button horizontally */
    margin-top: 10px;
    margin-left: 220px;
    /* Add some top margin */
}


/* Add this CSS code to style the download button */

#downloadButton {
    background-color: var(--primary);
    /* Use the primary color from the color palette */
    color: var(--on-primary);
    /* Use the on-primary color from the color palette */
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(2, 2, 2, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#downloadButton:hover {
    background-color: var(--primary-dark);
    /* Use the primary-dark color from the color palette */
    transform: scale(1.05);
    /* Add a slight scale effect on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#downloadButton:active {
    transform: scale(1);
    /* Remove the scale effect when the button is clicked */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}